.App {
  font-family: "Courier New", Courier, monospace;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}

h1 {
  text-align: center;
  color: rgb(255, 136, 0);
}

h2 {
  text-align: left;
  color: rgb(255, 136, 0);
  font-family: "Courier New", Courier, monospace;
  margin-left: 1cm;
}

h3 {
  color: whitesmoke;
  margin-left: 1cm;
}

form {
  object-position: center;
  margin-left: 1cm;
}

p {
  text-align: left;
  color: white;
  list-style: none;
  margin-left: 1cm;
}

.link {
  color: white;
}

.btn-btn-secondary {
  color: gray;
}

.Phonetics {
  margin-left: 1cm;
  color: whitesmoke;
}

.searchWord {
  text-emphasis: bold;
}

.searchButton {
  background: rgb(255, 124, 0);
  color: white;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20cm;
}
