.App {
  font-family: "Courier New", Courier, monospace;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  object-position: center;
  margin-left: 5cm;
  margin-right: 5cm;
}

.WordSearch {
  padding-bottom: 10px;
}

.searchField {
  width: 80%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: rgb(255, 136, 0);
  padding: 50px;
}

h2 {
  text-align: left;
  color: rgb(255, 136, 0);
  font-family: "Courier New", Courier, monospace;
  margin-left: 1cm;
}

h3 {
  color: rgb(19, 30, 37);
}

form {
  object-position: center;
  margin-left: 1cm;
  margin-right: 1cm;
}

p {
  text-align: left;
  color: rgb(19, 30, 37);
  list-style: none;
}

.link {
  color: rgb(255, 124, 0);
}

.Phonetics {
  margin-left: 1cm;
  margin-right: 1cm;
  color: whitesmoke;
}

.searchWord {
  text-emphasis: bold;
}

.searchButton {
  background: rgb(255, 124, 0);
  color: white;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  width: 20%;
}

.searchWord {
  background: whitesmoke;
  margin-left: 1cm;
  margin-right: 1cm;
  border-radius: 5px;
}

.searchResults {
  background: whitesmoke;
  margin-right: 1cm;
  margin-left: 1cm;
  border-radius: 5px;
}

.footer {
  color: whitesmoke;
  margin-left: 1cm;
  padding: 10px;
  font-size: 20px;
}
